:root {
    --font-size: 24px;
    --square-size: calc(min(100vw, 100vh) * 0.2);
    --square-border: 1.5px;
}

body {
    font: var(--font-size) monospace, sans-serif;
    margin: 20px;
}

ul,
ol {
    padding-left: calc(var(--font-size) * 2);
}

.past-move {
    border-radius: 0;
    font-size: calc(var(--font-size) / 1.5);
}

.board-row:after {
    /*This somehow prevents the board from distorting*/
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: var(--square-border) solid #777;
    width: var(--square-size);
    height: var(--square-size);
    padding: 0;
    margin-top: calc(-1 * var(--square-border));
    margin-right: calc(-1 * var(--square-border));
    float: left;
    font-size: calc(var(--square-size) * 0.8);
    font-weight: bold;
    line-height: var(--square-size);
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

@media (max-width: 620px) {
    .game {
        flex-direction: column;
    }

    .game-info {
        margin-left: 0;
        margin-top: 20px;
    }
}
