:root {
    --font-size: 24px;
    --main-color: rgb(97, 218, 251);
    --dark-color: rgb(40, 44, 52);
    --darker-color: rgb(32, 35, 42);
    --light-color: rgb(200, 200, 200);
    --lighter-color: white;
    --square-size: calc(min(100vw, 100vh) * 0.2);
    --square-border: 1.5px;
    --square-won-color: #afa;
    --game-info-margin: 40px;
    background-color: var(--dark-color);
    color: var(--lighter-color);
}

.main-color {
    color: var(--main-color);
}

body {
    font-size: var(--font-size);
    font-family: monospace;
    margin: 20px 5px 20px 20px;
}

ul,
ol {
    padding-left: calc(var(--font-size) * 2);
}

.past-move {
    border: none;
    padding: 0.5em 1em;
    font-size: calc(var(--font-size) / 1.5);
    background-color: var(--darker-color);
    color: var(--main-color);
    transition: color 0.2s ease-out;
}

.past-move:hover {
    color: var(--lighter-color);
}

.board-row:after {
    /*This somehow prevents the board from distorting*/
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.move-history-title {
    margin-top: var(--font-size);
    margin-bottom: calc(var(--font-size) / 2);
}

.list-order-toggler {
    background-color: var(--main-color);
    font-size: calc(var(--font-size) / 1.5);
    color: var(--darker-color);
    border: none;
    padding: 0.5em 1em;
    transition: background-color 0.2s ease-out;
}

.list-order-toggler:hover {
    background-color: var(--lighter-color);
}

.square {
    background-color: var(--dark-color);
    border: var(--square-border) solid var(--main-color);
    width: var(--square-size);
    height: var(--square-size);
    padding: 0;
    margin-top: calc(-1 * var(--square-border));
    margin-right: calc(-1 * var(--square-border));
    float: left;
    font-size: calc(var(--square-size) * 0.8);
    font-weight: bold;
    color: var(--main-color);
    line-height: var(--square-size);
    text-align: center;
}

.won-square {
    background-color: var(--square-won-color);
}

.most-recent-square {
    background-color: var(--darker-color);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: var(--game-info-margin);
}

@media (max-width: 770px) {
    .game {
        flex-direction: column;
    }

    .game-info {
        margin-left: 0;
        margin-top: var(--game-info-margin);
    }
}

@media (max-width: 500px) {
    :root {
        --square-size: calc(min(100vw, 100vh) * 0.3);
    }
}
